uvicorn==0.23.2
fastapi==0.104.0
tortoise-orm[asyncpg]==0.20.0
pydantic[email]
pydantic==2.4.2
bcrypt==4.0.1
pyjwt==2.8.0
iso3166
azure-storage-blob==12.18.3
python-multipart==0.0.6
python-dotenv==1.0.0
pandas==1.5.3
openpyxl==3.1.2